<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="isil.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="isilproto.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
  
  <userSettings>
    <isil.Properties.Settings>
      <setting name="port1" serializeAs="String">
        <value/>
      </setting>
      <setting name="port2" serializeAs="String">
        <value/>
      </setting>
      <setting name="noOfDevices" serializeAs="String">
        <value>32</value>
      </setting>
      <setting name="CoursePath" serializeAs="String">
        <value/>
      </setting>
      <setting name="PollTime" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="checkCorrect" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="mixerid0" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="mixerid1" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="mixerid2" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="mixerid3" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="mixerid4" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="mixerid5" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="mixerid6" serializeAs="String">
        <value>0</value>
      </setting>
    </isil.Properties.Settings>
    <isilproto.Properties.Settings>
      <setting name="port1" serializeAs="String">
        <value/>
      </setting>
      <setting name="port2" useLegacyV2RuntimeActivationPolicy="String">
        <value/>
      </setting>
      <setting name="noOfDevices" serializeAs="String">
        <value>32</value>
      </setting>
      <setting name="CoursePath" serializeAs="String">
        <value/>
      </setting>
      <setting name="PollTime" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="checkCorrect" serializeAs="String">
        <value>0</value>
      </setting>
    </isilproto.Properties.Settings>
  </userSettings>
</configuration>
