<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EasyEncryption" version="1.0.2" targetFramework="net462" />
  <package id="Meta.Vlc" version="17.06.20" targetFramework="net462" developmentDependency="true" />
  <package id="Meta.Vlc.Lib" version="16.05.01" targetFramework="net462" />
  <package id="NAudio" version="1.8.1" targetFramework="net462" />
  <package id="NLog" version="4.4.11" targetFramework="net462" />
  <package id="NLog.Config" version="4.4.11" targetFramework="net462" />
  <package id="NLog.Schema" version="4.4.11" targetFramework="net462" />
  <package id="WpfAppBar" version="1.6.0" targetFramework="net462" />
</packages>